
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
}

.container:hover .text {
  opacity: 1;
}
